a{
	color: white;
	text-decoration:none!important;

	
}



.nav{
  height: 60px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  background-color: transparent;
font-family: 'Noto Sans','맑은 고딕','Malgun Gothic',Arial,Helvetica,sans-serif,Lucida,Grande,'Microsoft YaHei','Hiragino Sans GB',SimSun,Meiryo;
    font-size: 16px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    margin-left: 10%;
    margin-right:10%;
  
    
  
}
.nav-right-items{
  display: flex;
  margin-left: auto;
  color: white;
  
}
.navItem{
  margin-left: 30px
}
.Pension-name{
  display: flex;
  margin-right: auto;
}
.title{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
  font-size: 20px;
  font-weight: 200;
  color: aliceblue;
  text-align: center;
  margin-top: 50px;
  
}

.borders.dot{
	z-index: 10;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index:10;

}

.dots {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 6px;
  background-color: #bbb;
  
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index:10;

}

.background{
  background-image: url("../img/back.jpg");
  background-size: cover;
  height: 400px;

  background-repeat: no-repeat;
  background-position: center center;
  
 
 
  
 
}
.list-info{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #888;
    letter-spacing: -.8px;
    line-height: 20px;
    white-space: nowrap;
   
    
}
.containerss
{
	font-family: 'Noto Sans','맑은 고딕','Malgun Gothic',Arial,Helvetica,sans-serif,Lucida,Grande,'Microsoft YaHei','Hiragino Sans GB',SimSun,Meiryo;
  margin: 0;

}

.text{
  margin: 70px;
}
.main{
  width: 200px;
  height: 200px;
}
.calendar {
  position: relative;
  width: 200px;
  height: auto;
  
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 15px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-month {
  font-size: 10px;
}

.navDate {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 75px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  overflow: hidden;
  
}

.date {
  width: calc(90% / 7);
  padding: 0;
  text-align: right;
  border: 1px solid #333333;

}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  opacity: .3;
}

.today {
  position: relative;
  color: #FFFFFF;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #FF0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: '';
}
.adultGroup{
  display: flex;
}
.kidGroup{
  display: flex;
}
.dropbtn {
  background-color: #3d303994;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.reGroup{
  margin-left: 300px;
}

.vertical-images{
  -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    display: flex !important;
    flex-direction: column !important;
    height:"441.587px"
}
.avertical-images{
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  display: flex !important;
  flex-direction: column !important;

  

}




.img{
  height: 100% !important;
    width: 100% !important;
}




.imagesGroup{
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items:stretch!important; 
    align-items: stretch !important;
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
   height: auto;
   padding-left: 14%;
    
   
    
}


.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #F7F7F7;
  border-top: .05rem solid #e5e5e5;
  height: 160.8px;
    padding-bottom: 20px;
   width: 100%;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer .social{
	    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: #ffc371;
    opacity: 0.75;
    
}
.blog-footer .list-inline{
padding:0;
  list-style:none;
  text-align:center;
  font-size:11px;
  line-height:1.6;
  margin-bottom:0;
}

.bigPictureWrapper {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top:0%;
	width:100%;
	height:100%;
	background-color: gray; 
	z-index: 100;
	background:rgba(255,255,255,0.5);
	overflow-y:hidden;
}
.bigPicture {
	position: relative;
	display:none;
	justify-content: center;
	align-items: center;
	
	
	
}
		
.bigPicture img {
	width:790px;
	height:652px;
	text-align: center;

}

.innerBox{
	overflow:hidden;
	height:900px;
	
	
}
.innerBox img{
	overflow:hidden;
	padding-top: 50px;
	padding-bottom: 10px;;
	
	
}





#paymentTag{
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: white;
  margin-top: 20px;
}

.cursor{
	cursor:pointer;
}

.introduction .intro{
	text-align: center;
	font-size: 20px;
    letter-spacing: -1px;
    line-height: 28px;
    
}

.containers .aboutPension{
	width: auto;
	height: 200px;
	display: flex;
	overflow:hidden;
justify-content: center;
padding-right:50px;
 

	
	

	
}

.containers .aboutPension .hour {
	
  width: 20%;
  border-right: 1px solid #73AD21;
     
  text-align: center;
}

.containers .aboutPension .phone{
	
	width: 20%;
	border-right: 1px solid #73AD21;
	text-align: center;
}

.containers .aboutPension .checkOut{
	width: 20%;
	
	border-right: 1px solid #73AD21;
	text-align: center;
}

.containers .aboutPension .peakSeason{
	
	width: 20%;
  border: 0;
  text-align: center;
}

 
ul{
   list-style:none;
   }
.middleImg{
	display : block;
	margin : auto;
	
}


.containers .innerRoom {
	
  width: 100%;
 
  border-top: 1px solid #888;   
  text-align: left;
}

.containers .mlivingRoom {
	
  width: 100%;
 
  border-top: 1px solid #888;   
  text-align: left;
}
.containcontainersndFloor {
	
  width: 100%;
  
  border-top: 1px solid #888;   
  text-align: left;
}

.containers .secondFloorGarret {
	
  width: 100%;
  
  border-top: 1px solid #888;
  text-align: left;
}
.containers .annexRoom {
	
  width: 100%;
  
  border-top: 1px solid #888;   
  text-align: left;
}
.containers .annexGarret {
	
  width: 100%;
  
  border-top: 1px solid #888;
     
  text-align: left;
}

.roomInfoGuest{
	width: 65%;
	 margin: auto;
	

}

#payment{
	width:259px; 
	color: #fff;  
	display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;;
    background-color: #007bff;
    border-color: #007bff;
}
.plusMinusBtn{
	 -webkit-box-pack: center !important;
    -webkit-box-align: center !important;
    -webkit-box-flex: 0 !important;
    width: 30px !important;
    height: 30px !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    cursor: pointer !important;
    display: inline-flex !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: center !important;
    text-decoration: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(176, 176, 176) !important;
    color: rgb(113, 113, 113) !important;
    font-family: inherit !important;
    outline: none !important;
    touch-action: manipulation !important;
    align-items: center !important;
    justify-content: center !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 50% !important;
    font-size: 30px;
}



#navigationbar {
  z-index: 1;
 
  
}

/* 스크롤바 기능은쓰고 스크롤바 가려주는 기능*/
.borders {

    -ms-overflow-style: none; 

    scrollbar-width: none; 

}

.borders::-webkit-scrollbar {

    display: none; 

}






img {
	vertical-align: middle;

}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
  
}



